.classpath
.project
.settings
db/*/lib/*.jar
db/*/lib/*.zip
*.iml
.idea

/infinispan/target/
/jdbc/target/
/mapkeeper/target/
/mongodb/target/
/redis/target/
/voldemort/target/
/distribution/target/
/cassandra/target/
/core/target/
/gemfire/target/
/hbase/target/
/elasticsearch/target/
